.div {
    display: flex;
    justify-content: center;
  }

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

body {background-color: coral;}

table {
            width: 100%;
            border-collapse: collapse;
          }
          .header th {
            background-color: #f4f4f4;
            font-weight: bold;
            padding: 10px;
          }
          .fixed-header thead {
            position: sticky;
            top: 0;
            z-index: 1;
          }
          .scrollable {
            display: block;
            overflow-y: auto;
            max-height: 300px;
          }